
{% extends "base.html" %}

{% load custom_tags %}

{% block content %}

    <h2>사용자 목록</h2>
    <h4>{% if msg%}{{ msg }}{% endif %}</h4>
    <table class="table table-striped">
        <thead>
            <th>ID</th><th>이름</th><th>이메일</th><th>가입일</th><th>PayPlan</th>  <th>가격</th>
        </thead>
        {% for u in users %}
        <tr>
        <td>{{ u.id }}</td>
        {% comment %}
        <td>{{ u.username|name_ma }}</td>            
        <td>{{ u.email|email_ma }}</td>      
        {% endcomment %}
        <td>{{u.username}}</td>
        <td>{{u.email|email_ma:u.id}}</td>
        <td>{{ u.date_joined }}</td>            
        <td>{{ u.pay_plan.name }}</td>
        <td>{{ u.pay_plan.price }}</td>             
        </tr>   
        {% endfor %}
        
    </table>

    




    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            {% if users.has_previous %}
                <li class="page-item"><a class="page-link" href="?p={{ users.previous_page_number }}"> 이전으로 </a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="#"> 이전으로 </a></li>
            {% endif %}
       
            <li class="page-item"><a class="page-link" href="#"> {{users.number}}/{{users.paginator.num_pages}} </a></li>

            {% if users.has_next %}
            <li class="page-item"><a class="page-link" href="?p={{ users.next_page_number }}"> 다음으로 </a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="#"> 다음으로 </a></li>
            {% endif %}

        </ul>   
    </nav>
    <p>
     <a href="{% url 'index' %}">홈으로 </a>
     <a href="{% url 'register' %}">회원가입 </a>
    </p>    
    {% test_tags %}
    {% include "include_test.html" %}
{% endblock %}


